<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.s.s.mapper.UserMapper">
    <sql id="fieds">
id,name,age,email
    </sql>
    <select id="findAll" resultType="cn.itcast.s.s.bean.User">
        select
        <include refid="fieds"/>
        from user
    </select>

</mapper>