# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\s\ideaJava\s\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
